ul.top-nav li {
   border-style: inset;  
   border-color: blue; 
   border-width: 1px; 
   border-radius: 8px; 
	 list-style-type: none; 
   text-align: center; 
	 background-color: none;
   display: inline; 
   text-decoration: none; 
	 padding: .2em 1em; 
	 text-color: orange; 
   padding-bottom: 10px; 
   padding-top: 10px; 
}
ul.top-nav li:hover { 
	color: blue; 
	background-color: blue; 
	} 
h1{
   margin-left: 25%; 
	 padding-bottom: 35px; 
}
#sidebar {  
  margin:35px;
  padding:15px;
  float: right;
  width: 250px;
  list-style-type: bullets; 
  border-style: solid; 
  border-color: black; 
  border-width: 2px; 
  text-align: left; 
  border-radius: 12px; 
	margin-right: 15%;
	margin-top: 3%; 
}
h2{
  text-align: center; 
}
section#content {
  border-style: solid; 
  padding: 25px; 
  border-width: 3px; 
  border-color: blue; 
  border-radius: 25px;
	float: center; 
  margin-left: 15px; 
	height: auto; 
	width: 450px; 
	margin-bottom: 100px; 
	margin-top: 50px; 
	margin-left: 15%; 
}
img {
  display: block; 
  float: right; 
  width: 200px;
  padding: 25px; 
}
i {
	float: right; 
  width: 200px; 
  text-align: center; 
  border-style: dotted; 
  border-width: 1px; 
  border-color: grey; 
	margin-left: 10px; 
	position: relative; 
	right: 20px; 
}
#selected_works {
	text-align: right; 
	align-content: center; 
}
ul.bottom-nav li {
   border-style: inset;  
   border-color: blue; 
   border-width: 1px; 
   border-radius: 8px; 
	 list-style-type: none; 
   text-align: center; 
	 background-color: none;
   display: inline; 
   text-decoration: none; 
	 padding: .2em 1em; 
	 text-color: orange; 
   padding-bottom: 10px; 
   padding-top: 10px; 
}
ul.poem li {
  list-style: none; 
	text-align: left; 
	margin-left: 35px; 
}
footer {
	height: 50px; 
	align-text: center; 
}
footer.smalltext {
	border-style: solid; 
	margin-left: 50%; 
}
b {
	float: right; 
	margin-bottom: 25px; 
	padding: 60px; 
}
table, th, td {
	border: solid; 
	border-color: black;
	border-width: 1px; 
	text-align: left; 
	margin-left: 45px; 
}